# Database
# DATABASE_URL=postgresql://user:password@localhost:5432/buglerock_analytics   For PostgreSQL
DATABASE_URL=sqlite:///./buglerock.db


# Gmail API
GMAIL_CREDENTIALS_PATH=credentials/gmail_credentials.json
GMAIL_TOKEN_PATH=credentials/gmail_token.json
GMAIL_USER=tejas.s@buglerock.asia
GMAIL_SENDER=sujaya.l@alerts-morningstar.com
GMAIL_SUBJECT_KEYWORD=Singlesheet_Daily_Fund_Metrics

# Gemini AI
GEMINI_API_KEY=your_gemini_api_key_here

# App
APP_ENV=development
APP_PORT=8000
CORS_ORIGINS=http://localhost:3000
