psycopg2-binary   
#For PostgreSQL

fastapi
uvicorn[standard]
pandas
openpyxl
sqlalchemy
python-dotenv
httpx
google-generativeai
google-auth
google-auth-oauthlib
google-auth-httplib2
gspread
google-api-python-client
numpy
scipy
python-dateutil
pytz
python-multipart
yfinance>=0.2.40